/* Specific BT styles not found in bootstrap*/

.factboxtitle {
  font-family: "plutobold";
  font-weight: bold;
  color: $bt_orange;
}

.bignumber {
  font-family: "plutolight";
  font-weight: 100;
  font-size: ($font-size-base * 5);
  color: $bt_lightblue;

}

.bt-white-header {
	position: relative;
	padding: 13px 0 8px;
  width: 100%;
	background: #fff;
	text-align: center;
	@include box-shadow(0 4px 10px 0 rgba(50,50,50,0.2));
	z-index: 50;
	-webkit-backface-visibility: hidden;
    -webkit-filter: blur(0px);
    .logo {
        font-size: 25px;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    .main-menu-button {
    	  position: absolute;
			  top: 10px;
			  left: 19px;
			  border: 0;
			  font-size: 32px;
			  cursor: pointer;
			  color: #000;
			  text-decoration: none;
    }
}

.shareicons {
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 40px;
    text-align: center;
    z-index: 50;
    a {
    	display: inline-block;
	    padding: 10px;
	    width: 40px;
	    height: 40px;
	    background: $bt_darkblue;
	    @include border-radius(30px);
	    color: #fff;
	    @include transition(all 0.15s ease-in-out);
	    text-decoration: none;
	    &:hover,
	    &:focus,
	    &:active {
	        background: lighten($bt_darkblue, 10%);
	    }
        font-size: 20px;
        &.share-twitter {
            margin-left: 5px;
        }
    }
}

@media screen and (min-width: 768px) {
	.bt-white-header {
		height: 70px;
		.logo {
			font-size: 50px;
			line-height: 50px;
		}
		.main-menu-button {
			top: 18px;
			// font-size: 46px;
		}
	}
}

footer {
  border-top: 1px solid #a1a1a1;
  margin: 0px;
  width: 100%;
  margin-top: 30px;
  padding: 0px;
  padding-top: 10px;
  color: #a1a1a1;
  text-align: center;
  font-size: 12px;

  a, a:hover {
    color: #a1a1a1;
  }

  dl {

    dt {
      float: left;
    }

  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
