$font_server_folder: "http://statisk.bt.no/fonts/";

// $icon-font-path: "http://statisk.bt.no/fonts/";
$icon_font_path: "http://statisk.bt.no/fonts/";

/*grid*/
$grid-gutter-width:         20px !default;


// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width));
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            ((980px + $grid-gutter-width));
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ((1200px + $grid-gutter-width));
$container-lg:                 $container-large-desktop !default;


/* Colors */

$bt_darkblue: #0d1d47;
$bt_lightblue: #0084b6;
$bt_orange: #f58220;
$bt_sectiontitle: #9e2c78;
$bt_quote: #ec008c;
$bt_link_color: $bt_lightblue;
$bt_grey: #333333;
$bt_lightgrey: #f4f4f4;
/* Blå som på Nedbygd */
$bt_magblue: #007db6;
/* Rød som på Vestlendingen */
$bt_red: #ee430e;
/* BT Specific bootstrap overrides */
$bt_yellow: #f60;

@font-face {
    font-family: 'TiemposTextRegular';
    src: url($font_server_folder + 'TiemposTextWeb-Regular.eot');
    src: url($font_server_folder + 'TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url($font_server_folder + 'TiemposTextWeb-Regular.woff') format('woff');
}

@font-face {
    font-family: 'TiemposTextMedium';
    src: url($font_server_folder + 'TiemposText-Medium.eot');
    src: url($font_server_folder + 'TiemposText-Medium.eot?#iefix') format('embedded-opentype'),
         url($font_server_folder + 'TiemposText-Medium.woff') format('woff');
}

@font-face {
    font-family: 'TiemposHeadlineWebMedium';
    src: url($font_server_folder + 'TiemposHeadlineWeb-Medium.eot');
    src: url($font_server_folder + 'TiemposHeadlineWeb-Medium.eot?#iefix') format('embedded-opentype'),
         url($font_server_folder + 'TiemposHeadlineWeb-Medium.woff') format('woff');
}

@font-face {
    font-family: 'TiemposHeadlineWebSemibold';
    src: url($font_server_folder + 'TiemposHeadlineWeb-Semibold.eot');
    src: url($font_server_folder + 'TiemposHeadlineWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url($font_server_folder + 'TiemposHeadlineWeb-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'plutobold';
    src: url($font_server_folder + 'plutobold-webfont.eot');
    src: url($font_server_folder + 'plutobold-webfont.eot?#iefix') format('embedded-opentype'),
         url($font_server_folder + 'plutobold-webfont.woff') format('woff'),
         url($font_server_folder + 'plutobold-webfont.ttf') format('truetype'),
         url($font_server_folder + 'plutobold-webfont.svg#plutobold') format('svg');
    font-weight: bold;
    font-style: bold;

}

@font-face {
    font-family: 'plutolight';
    src: url($font_server_folder + 'plutolight-webfont.eot');
    src: url($font_server_folder + 'plutolight-webfont.eot?#iefix') format('embedded-opentype'),
         url($font_server_folder + 'plutolight-webfont.woff') format('woff'),
         url($font_server_folder + 'plutolight-webfont.ttf') format('truetype'),
         url($font_server_folder + 'plutolight-webfont.svg#plutolight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'calibremedium';
    src: url($font_server_folder + 'CalibreWeb-Medium.eot');
    src: url($font_server_folder + 'CalibreWeb-Medium.eot?#iefix') format('embedded-opentype'),
         url($font_server_folder + 'CalibreWeb-Medium.woff') format('woff'),
         url($font_server_folder + 'CalibreWeb-Medium.ttf') format('truetype'),
         url($font_server_folder + 'CalibreWeb-Medium.svg#calibremedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'calibresemibold';
    src: url($font_server_folder + 'CalibreWeb-Semibold..eot');
    src: url($font_server_folder + 'CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url($font_server_folder + 'CalibreWeb-Semibold.woff') format('woff'),
         url($font_server_folder + 'CalibreWeb-Semibold.ttf') format('truetype'),
         url($font_server_folder + 'CalibreWeb-Semibold.svg#calibremedium') format('svg');
    // font-weight: normal;
    // font-style: normal;
}

@font-face {
    font-family: 'calibreregular';
    src: url($font_server_folder + 'CalibreWeb-Regular.eot');
    src: url($font_server_folder + 'CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url($font_server_folder + 'CalibreWeb-Regular.woff') format('woff'),
         url($font_server_folder + 'CalibreWeb-Regular.ttf') format('truetype'),
         url($font_server_folder + 'CalibreWeb-Regular.svg#calibreregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* PLAY*/
.icon-uniE614:before {
	content: "\e614";
}

/* Ikonfonter */

@font-face {
  font-family: 'bt-icons';
  src: url($icon_font_path + 'icomoon/fonts/icomoon.eot');
  src: url($icon_font_path + 'icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
       url($icon_font_path + 'icomoon/fonts/icomoon.woff') format('woff'),
       url($icon_font_path + 'icomoon/fonts/icomoon.ttf') format('truetype'),
       url($icon_font_path + 'icomoon/fonts/icomoon.svg#bt-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'bt-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
	content: "\e026";
}

.icon-arrow-right:before {
	content: "\e01a";
}

.icon-bt-logo:before {
	content: "\e02f";
}

.icon-menu:before {
	content: "\e601";
}

.icon-circle-play:before {
	content: "\e606";
}

.icon-arrow-left:before {
	content: "\e01b";
}
.icon-cross:before {
	content: "\e00e";
}

.icon-twitter:before {
	content: "\e021";
}

.icon-profile:before {
	content: "\e600";
}

.icon-facebook:before {
	content: "\e01e";
}

.icon-play:before {
	content: "\e614";
}

.icon-house:before {
	content: "\e000";
}


$font-family-sans-serif: Arial, Helvetica;
$font-family-serif: 'TiemposTextRegular', "Times New Roman", Times, serif;
$font-family-base: $font-family-sans-serif;
$brand-primary: $bt_darkblue;
$brand-success: $bt_sectiontitle;
$brand-info: $bt_lightblue;
$brand-warning: $bt_orange;
$headings-font-family: "TiemposHeadlineWebSemibold", Cambria, Times, "Times New Roman", serif;
$link-color: $bt_link_color;
//$headings-small-color: $bt_orange;